.App {
  display: flex;
  text-align: center;
  justify-content:center;
  flex-direction: column;
  height: 600px;
  
}
h1, h2{
  font-family: "MongoDB Value Serif", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.city-input-container {
  background-color: rgba(85, 122, 134, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  gap: 8px;
  width: 500px;
  margin: 0 auto;
}

.city-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.city-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 18px;
}

.city-button:hover{
  background-color: #5f91c6;

}

 p{
    font-size: 18px;
    line-height: 32px;
    font-family: "Euclid Circular A", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #3d4f58;
}